/* You can add global styles to this file, and also import other style files */
@import '~ngx-toastr/toastr';

.btn-logout{
    background-color: white;
    color: black;
    border: white;
    border-radius: 4px;
    padding: 15px;
    cursor: pointer;
}

.logout-container nav{
    display: flex;
    justify-content: end !important;
}